/* Hide scrollbar by default */
.sidebar-scroll {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

/* Webkit (Chrome, Edge, Brave) */
.sidebar-scroll::-webkit-scrollbar {
  width: 6px;
}

.sidebar-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.sidebar-scroll::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
  transition: background-color 0.3s;
}

/* Show scrollbar on hover */
.sidebar-scroll:hover::-webkit-scrollbar-thumb {
  background-color: #cbd5e1; /* light gray */
}

/* Firefox */
.sidebar-scroll:hover {
  scrollbar-color: #cbd5e1 transparent;
}
.sidebar-scroll:hover::-webkit-scrollbar-thumb {
  background-color: #94a3b8;
}

.sidebar-scroll::-webkit-scrollbar-button:single-button {
  display: none;
}
